/* styles.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #0066ff, #66ccff);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input,
button,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

input {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

button {
    background: #ff6600;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #ff8533;
}

.signInText {
    text-align: center;
    color: #ccc;
}

.signInTextBold {
    font-weight: bold;
    color: #ff6600;
    cursor: pointer;
}

input::placeholder {
    color: #ccc;
}

a {
    color: #ff6600;
    text-decoration: none;
}