/* styles.css */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #0066ffc4, #708fa4);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeIn 1s ease-in-out;
}

.container {
    max-width: 100%;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    animation: slideIn 1s ease-in-out;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
h3 {
    margin-bottom: 20px;
}
input,
button,
select {
    width: 100%;
    padding: 10px 1px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

input {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

button {
    background: #0066ffc4;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #ff66fa;
}

.signInText {
    text-align: center;
    color: #ccc;
}

.signInTextBold {
    font-weight: bold;
    color: #0066ffc4;
    cursor: pointer;
}

input::placeholder {
    padding-left: 10px;
    color: #ccc;
}

a {
    color: #fff;
    text-decoration: none;
}

textarea {
    width: 100%;
    padding: 10px 1px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}